.footer {
  margin-top: 6.25rem; /* 100px / 16 = 6.25rem */
  background-color: #fff9f5;
  color: #998077;
  font-family: "InstrumentSerif";
}

.footer fieldset {
  border-right: none;
  border-left: none;
  border-bottom: none;
  border-top: 1px solid rgba(0, 0, 0, 0.07);
}

.footer legend {
  font-size: 20px;
  font-style: italic;
  padding: 2rem 2.5rem; /* 20px / 16 = 1.25rem, 40px / 16 = 2.5rem */
  border-right: none;
  font-family: "InstrumentSerif";
}

.footer_content {
  display: flex;
  margin-top: 5px;
}

.footer_content-left {
  flex: 1;
  margin-top: 6.25rem; /* 100px / 16 = 6.25rem */
}

.footer-image-left-first {
  width: 11.4375rem; /* 183px / 16 = 11.4375rem */
  height: 16.0625rem; /* 257px / 16 = 16.0625rem */
  margin-left: 6.25rem; /* 100px / 16 = 6.25rem */
  margin-bottom: 12.5rem; /* 200px / 16 = 12.5rem */
  margin-top: 65px;
}

.footer-image-left-second {
  width: 15.8125rem; /* 253px / 16 = 15.8125rem */
  height: 22.6875rem; /* 363px / 16 = 22.6875rem */
  margin-left: 12.5rem; /* 200px / 16 = 12.5rem */
}

.footer_content-center {
  flex: 2;
  text-align: center;
}

.footer_content-center-title {
  font-size: 2.875rem; /* 46px / 16 = 2.875rem */
  font-family: "InstrumentSerif";
  font-weight: 100;
  color: #462b20;
}

.footer_content-center-tab {
}

.footer_content-center-tab button {
  background-color: transparent;
  border: none;
  font-size: 20px;
  color: inherit;
  font-family: "InstrumentSerif";
  opacity: 0.5;
  margin: 20px 14px 20px 0;
  border-right: 1px solid #e4e4e4;
  padding-right: 14px;
}

.footer_content-center-tab button:last-child {
  border-right: none;
}

.footer_content-center-tab button.active {
  opacity: 1;
}

.footer_content-center-tabcontent {
  max-width: 38.625rem; /* 618px / 16 = 38.625rem */
  margin: auto;
  font-size: 16px;
  line-height: 25px;
  font-weight: 400px;
}
.footer_content-center-tabcontent p {
  max-width: 38.625rem; /* 618px / 16 = 38.625rem */
  margin: auto;
  font-family: "Inter";
}

/*  */
.footer_content-right {
  flex: 1;
  margin-top: 6.25rem; /* 100px / 16 = 6.25rem */
}

.footer-image-right-first {
  width: 274px;
  height: 385px;
  float: right;
  margin-right: 6.25rem; /* 100px / 16 = 6.25rem */
  margin-bottom: 12.5rem; /* 200px / 16 = 12.5rem */
  margin-top: 23px;
}

.footer-image-right-second {
  width: 11.4375rem; /* 183px / 16 = 11.4375rem */
  height: 16.0625rem; /* 257px / 16 = 16.0625rem */
}
