@font-face {
  font-family: "Poppins";
  src: url("../public/fonts/Poppins-Regular.ttf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Poppins-black";
  src: url("../public/fonts/Poppins-Medium.ttf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Poppins-b";
  src: url("../public/fonts/Poppins-Bold.ttf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Optima";
  src: url("../public/fonts/OptimaNovaLTProRegular.otf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "InstrumentSerif";
  src: url("../public/fonts/InstrumentSerif-Regular.ttf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Inter";
  src: url("../public/fonts/Inter-VariableFont_opsz\,wght.ttf");
  font-weight: normal;
  font-style: normal;
}

.rounded {
  border-radius: 15px;
}
