@font-face {
  font-family: "Poppins";
  src: url("../public/fonts/Poppins-Regular.ttf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Poppins-b";
  src: url("../public/fonts/Poppins-Bold.ttf");
  font-weight: normal;
  font-style: normal;
}

* {
  font-family: "Poppins", sans-serif;
}

.rounded {
  border-radius: 15px;
}
